@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-bold-700.woff2") format("woff2"),
       url("../fonts/firasans-bold-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-regular-400.woff2") format("woff2"),
       url("../fonts/ptsans-regular-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic-400.woff2") format("woff2"),
       url("../fonts/ptsans-italic-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-bold-700.woff2") format("woff2"),
       url("../fonts/ptsans-bold-700.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
}

/*Для паттерна Sticky footer*/
.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровка страницы */
.page-centerer {
  width: 1170px;
  margin: 0 auto;
  padding-left: 115px;
  padding-right: 115px;
}

/*Header*/
.store-contacts-background {
  background-color: #f3f7f9;
  margin-bottom: -1px;
}

.store-contacts {
  display: flex;
  justify-content: space-between;
}

.right-header-container {
  display: grid;
  grid-template-columns: 275px 235px;
  flex-shrink: 0;
}

.store-description {
  font-size: 14px;
  line-height: 18px;
  color: #ee3643;
  margin-left: 2px;
  margin-right: 10px;
}

.store-location {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  margin: 13px 0 0;
  max-width: 275px;
}

.store-number {
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #293449;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 14px 3px 0 28px;
  padding-left: 30px;
  max-width: 174px;
  position: relative;
}

.store-number::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("/images/header/number-icon.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 6px;
}

/*Строка с логотипом*/
/*Лого*/
.logo-background {
  background-color: #293449;
}

.navigation-logo {
  display: flex;
  width: 219px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: -5px;
  flex-shrink: 0;
  z-index: 1;
}

.navigation-logo img {
  transform: translate(-1px, -4px);
}

.header-user-container {
  display: flex;
}

/*Поле поиска*/
.search-container {
  flex-grow: 1;
}

.search-field {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: none;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 0 0 4px 53px;
  background-color: transparent;
}

.search-form {
  height: 100%;
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("/images/header/search.svg");
  background-repeat: no-repeat;
  top: 11px;
  left: 21px;
}

.search-field::placeholder {
  color: #ffffff;
}

/*Общая кнопка*/
.general-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login-button {
  color: #f1f5f7;
  background-color: transparent;
  position: relative;
  padding: 2px 2px 0 27px;
  max-width: 100px;
}

.login-button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("/images/header/login.svg");
  background-repeat: no-repeat;
  left: 0;
}

/*Навигация*/
.header-navigation {
  display: grid;
  grid-template-columns: 820px 178px 174px;
  align-items: start;
  justify-items: start;
  padding-bottom: 4px;
}

.navigation-background {
  background-color: #3d546f;
}

.navigation-list {
  margin: 0 0 0 -18px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

/*Для соответствия PixelPerfect*/
.navigation-item:first-child {
  margin-right: 9px;
}

.navigation-item:nth-child(2) {
  margin-right: 5px;
}

.navigation-item:nth-child(3) {
  margin-right: 8px;
}

.navigation-item:nth-child(4) {
  margin-right: 3px;
}

.navigation-item:nth-child(5) {
  margin-right: 2px;
}

.navigation-item:nth-child(6) {
  margin-right: 6px;
}

.navigation-link-button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 22px 21px;
}

.navigation-user {
  margin: 23px 27px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-self: end;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-user-button {
  background-color: #63a63e;
  border-radius: 4px;
  margin: 11px 0 12px;
  padding: 12px 12px;
}

/*Карточки навигации*/
.cards-of-navigation {
  margin-bottom: 50px;
}

.cards-list {
  margin: 52px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 29px 30px;
  align-items: start;
}

.card-item {
  padding: 20px 25px;
  background-color: #ffbf47;
  position: relative;
  border-radius: 2px;
}

.card-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 87% 50%;
}

/*Декоративная картинка в промоблоках*/
.card-item:nth-child(1)::after {
  background-image: url("../images/main/cards/card-icons/icon-materials.svg");
}

.card-item:nth-child(2)::after {
  background-image: url("../images/main/cards/card-icons/icon-tool.svg");
}

.card-item:nth-child(3)::after {
  background-image: url("../images/main/cards/card-icons/icon-equipment.svg");
}

.card-item:nth-child(4)::after {
  background-image: url("../images/main/cards/card-icons/icon-sale.svg");
}

.card-item:nth-child(5)::after {
  background-image: url("../images/main/cards/card-icons/icon-delivery.svg");
}

/*Ярлык новинки*/
.new-item {
  position: relative;
  background-image:
    linear-gradient(45deg, rgba(0,0,0,0) 88%, rgba(238,54,67,1) 88%, rgba(238,54,67,1) 95.5%, rgba(0,212,255,0) 95.5%)
}

.new-item::before {
  position: absolute;
  content: "new";
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(45deg);
  top: 14px;
  right: 4px;
}

/*Разные цвета фона карточек*/
.card-item:nth-child(2) {
  background-color: #3bbce3;
}

.card-item:nth-child(3) {
  background-color: #dc91d8;
}

.card-item:nth-child(4) {
  background-color: #8ed78f;
}

.card-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.card-button {
  margin: 57px 0 12px;
  padding: 11px 12px 9px 32px;
  border: 1px solid #f9f5f0;
  background-color: transparent;
  box-sizing: border-box;
  min-width: 180px;
  position: relative;
  text-align: start;
  text-decoration: none;
  display: inline-block;
}

.card-button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 11px;
  left: 11px;
  background-image: url("/images/main/cards/button-arrow.svg");
  background-repeat: no-repeat;
}

/*Слайдер*/
.slider-item {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  padding: 0;
}

.slider {
  padding: 0;
  list-style-type: none;
}

.inner-slider-item {
  min-height: 390px;
  background-image: url("../images/main/cards/slider/dreels.jpg");
  background-repeat: no-repeat;
  background-size: 910px 390px;
  background-position: -70px;
}


.inner-card-title {
  font-family: "Fira Sans",sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 51px 11px;
  padding-top: 50px;
}

.slider-description {
  margin: 0 51px 0;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

/*Кнопки слайдера*/
.slider-controls {
  width: calc(100% - 37px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 44%;
  left: 20px;
}

.slider-button {
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/main/cards/slider/slider-arrow.svg");
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.slider-button:last-child {
  transform: rotate(180deg);
}

/*Общая красная кнопка*/
.red-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 13px 6px 14px;
  min-width: 194px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
}

.inner-slider-button {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 49px;
  left: 52px;
  z-index: 1;
}

/*Пагинация слайдера*/
.slider-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 1px;
  z-index: 1;
}

.slider-pagination-button {
  padding: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background-color: #ffd180;
  opacity: 0.8;
  cursor: pointer;
}

.selected-button-slider {
  background-color: #ffffff;
}

/*Каталог*/
.catalog {
  display: grid;
  grid-template-columns: 247px 1fr;
  grid-template-areas:
  "title title"
  "filter selector"
  "filter result";
  grid-template-rows: auto auto 1fr;
  justify-items: start;
}

.catalog-title {
  grid-area: title;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

/*Фильтр каталога*/
.catalog-filter {
  grid-area: filter;
}

.filter-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*Стоимость*/
.catalog-filter fieldset {
  padding: 0;
  border: none;
}

.cost {
  margin: 24px 0 0 -2px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 95px);
  gap: 26px 28px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #3d546f;
  grid-column: span 2;
  margin: 28px 16px 0 30px;
}

.range-scale::before {
  position: absolute;
  content: "";
  width: calc(100% + 45px);
  height: 40px;
  background-color: #f7f3ec;
  top: -18px;
  left: -25px;
  z-index: -1;
  border-radius: 4px;
}

.range-bar {
  height: 2px;
  background-color: #5fbb2d;
  position: absolute;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  outline: 2px solid #3d546f;
  outline-offset: -2px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  width: 91px;
  height: 38px;
  border: none;
  background-color: #f7f3ec;
  border-radius: 4px;
  text-align: center;
  margin-left: 3px;
}

.range-input::placeholder {
  color: #293449;
}

.label-left {
  position: relative;
}

.label-left::after {
  position: absolute;
  content: "—";
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  top: 11px;
  right: -23px;
}

/* Убираем дефолтные стрелки */
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/*Производители*/
.manufactures {
  margin: 38px 0 0 -2px;
}

.manufactures-checkbox-container {
  list-style-type: none;
  margin: 14px 0 0 3px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control-checkbox {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  padding-left: 35px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #3d546f;
  border-radius: 2px;
  box-sizing: border-box;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/main/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
  content: "";
  top: -2px;
  left: -2px;
}

/*Питание*/
.power-supply-radio {
  margin: 32px 0 0 -1px;
}

.power-supply-list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.power-supply-label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}

.control-mark-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #3d546f;
  border-radius: 50%;
  box-sizing: border-box;
}

.power-supply-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #3d546f;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

/*Кнопка фильтра*/
.blue-border-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #32425c;
  background-color: transparent;
  border: 2px solid #3d546f;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button {
  margin: 46px 0 0 1px;
  width: 219px;
  padding: 10px 0 8px;
}

/*Селектор*/
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  grid-area: selector;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #3d546f;
  border-radius: 2px;
  min-width: 279px;
  background-image: url("../images/main/catalog/selcetor-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 16px right 12px;
  margin: 60px 0 0 53px;
  padding: 7px 28px 7px 14px;
}

/*Результат поиска*/
.search-result {
  grid-area: result;
}

.result-list {
  list-style-type: none;
  margin: 30px 0 0 52px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px 30px;
  align-items: start;
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  box-sizing: border-box;
  width: 270px;
  min-height: 380px;
}

.result-item.new-item {
  background-image: linear-gradient(45deg, rgba(0,0,0,0) 89.7%, rgba(238,54,67,1) 89.7%, rgba(238,54,67,1) 96.3%, rgba(0,212,255,0) 96.3%);
}

.result-item.new-item::before {
  top: 16px;
  right: 6px;
}

.product-picture {
  margin-top: 27px;
  z-index: -1;
}

.item-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 14px 40px 0;
}

.old-price {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #a9a9a9;
  margin: 15px 3px 0;
}

.middle-line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
  top: 9px;
  left: 0;
}

.buy-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  background-image: url("../images/main/catalog/buy-button.svg");
  width: 139px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  margin: auto 0 24px -2px;
  padding: 0 14px 0 0;
}

/*Пагинация*/
.pagination-container {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: start;
  margin: 31px 20px 0 72px;
}

.catalog-pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.catalog-pagination-link-inner {
  text-decoration: none;
  display: inline-block;
  min-width: 50px;
  background: #3d546f;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  padding: 11px 0;
  box-sizing: border-box;
}

.present-page {
  background-color: #ffffff;
  color: #3d546f;
}

.show-more-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/*Сервисы*/
.services {
  margin-top: 52px;
  padding: 52px 0 52px;
  background-color: #f5f8fa;
}

.service-list {
  list-style-type: none;
  margin: 65px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}

.service-item {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top 30px left 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 26px 24px;
}

.service-item:nth-child(1) {
  background-image: url("../images/main/services/icon-delivery.svg");
}

.service-item:nth-child(2) {
  background-image: url("../images/main/services/icon-sale.svg");
}

.service-item:nth-child(3) {
  background-image: url("../images/main/services/icon-materials.svg");
}

.services-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.services-description {
  margin: 30px auto 0;
  text-align: center;
  max-width: 556px;
  font-size: 18px;
}

.service-item-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 141px 0 0;
}

.service-item-description {
  color: #000000;
  max-width: 300px;
  margin: 20px 2px 18px;
}

/*Контакты*/
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 52px auto 45px;
  gap: 170px;
}

.left-column {
  margin-left: 1px;
  max-width: 472px;
}

.contacts-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
}

.contacts-description {
  margin: 26px 0 0;
}

.contacts-description:first-of-type {
  margin: 22px 0 0;
}

.contacts-button {
  text-decoration: none;
  min-width: 194px;
  display: inline-block;
  margin: 51px 0 0 1px;
}

.map-link {
  margin-top: 28px;
  display: block;
}

/*Футер*/
.main-footer {
  background-color: #32425c;
}
