@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/firasans-bold-700.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-regular-400.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-italic-400.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-bold-700.ttf") format("ttf");
    font-display: swap;
}